.global {
  background-color: #a306b6;
  width: 100vw;
  color: white;
  height: 50vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.liste {
  display: flex;
  list-style-type: none;
  gap: 5rem;
  padding: 0;
}

.logo {
  width: 3rem;
}

.avatar {
  width: 15rem;
  border: 1rem solid white;
  border-radius: 50%;
}

.titleContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 30%;
  flex-wrap: wrap;
}

@media screen and (width > 992px) {
  .global {
    background-color: #a306b6;
    width: 100vw;
    color: white;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
  }

  .liste {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    gap: 0;
  }

  .logo {
    width: 5rem;
    margin-left: 1rem;
  }

  .avatar {
    width: 20rem;
    border: 1rem solid white;
    border-radius: 50%;
  }

  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .title {
    font-size: 3rem;
    width: 15%;
  }
}
