
body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1, h2, h3 {
font-family: 'monserrat';
  line-height: 1.1;

}

p, a {
  font-family: 'Source sans 3';
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



